@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 container-fluid">
        <br />
        <a asp-action="Cadastro" class="btn btn-lg btn-primary btn-block">Cadastrar</a>
        <a asp-action="CheckIn" class="btn btn-lg btn-primary btn-block">Realizar CheckIn-CheckOut</a>
        <a asp-action="ListaDeCadastros" class="btn btn-lg btn-primary btn-block">Lista de Crianças</a>
        <a asp-action="Relatorio" class="btn btn-lg btn-primary btn-block">Gerar Relatório</a>
    </div>
    <div class="col-2"></div>
</div>


